Bin/
Build/linux/
Build/windows/
Build/eclipse/
Build/coverage_linux
/Build/
/BuildTests/
build/
build-*/
*.yuv
*.bin
*.patch
*.raw
*.log
tests/data/override/*.cfg
/.idea
/cmake-build-debug-visual-studio
/cmake-build-release-visual-studio
/Build
/.vs
/out
prompt.txt
