Bin/
Build/linux/
Build/windows/
Build/eclipse/
Build/coverage_linux
*.yuv
*.bin
*.patch
*.raw
*.log
/.idea
/cmake-build-debug-visual-studio
/cmake-build-release-visual-studio
/Build

tests/data/override/*.cfg
